* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: aquamarine;
    min-height: 100vh;
    
    max-width: 1000px;
    margin: 10px auto;
    border: 35px solid rgb(196, 194, 194);

}
main {
    /* height: 100%; */
    padding: 20px 40px;
}
/* *****Nav Bar********* */
.hand-img {
    margin-top: 15px;
    height: 20px;
}
h1 {
    font-weight: bold;
    color:orangered;
    padding: 5px;
    display: flex;
    
}
.nav {
    width: 100%;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display:flex;
    justify-content: space-between;
    
    gap: 5px;
    width: 100%;
}
ul {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    align-items: center;
}
 ul > li {
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px 20px;
    
}
ul > div {
    display: flex;
    gap: 10px;
}
.enter > li {
    display: flex;
    
}
.bar {
    border-radius: 15px;
}
.cart-icon {
   
    background-color: yellow;
    color: white;
    border-radius: 100%;
    font-size: small;
    text-align: center;
    padding: 6px;
}
.sign-up {
    background-color: green;
    color: white;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    padding: 6px 15px;
} 

.hero-section {
    min-height: 400px;
    width: 100%;
    background-color: rgba(43, 110, 78);
    color:white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px 40px;
    font-size: 60px;
    position:relative;
    display: flex;
}
.row {
    width: 50%;
}
.hero-section > img {
    position: relative;
}
.column {
    width: 50%;
}
.fresh {
    color: rgba(215, 251, 62);
    font-size: 60px;
}
.shipping {
    font-size: 15px;
    display: flex;
    gap: 5px;
    background-color: rgba(86, 139, 115);
    border: 4px solid rgba(86, 139, 115);
    border-radius: 20px;
    
    width: 150px;
}
.van-img {
    height: 19px;
}
.row>img {
    width: 380px;
   height: 280px;
   position: absolute;
   
    
}
.column > div {
    font-size: 15px;
    padding: 10px;
}
a {
    /* height: 20px; */
    font-size: 15px;    
    width: 90px; 
    height: 50px;
     text-decoration: none; 
    background-color: rgba(254, 96, 45);
    color: antiquewhite;
    border-radius: 10px;
    padding: 8px 10px;
}
.ctn {
    display: inline-block;
    padding: 20px 11px;
    transform: translateY(-12px); 
    border-radius: 10px;
}
.dot {
    width: 70px;
    height: 60px;
    font-size: 10px;
    display: inline-block;
    position: relative;
    top: 300px;
    left: 10px;
   
    /* padding: 5px; */
    /* margin-top: 290px; */
     
    
}
.dot-part {
    display: flex;
    position: absolute;
    /* height: 15px; */
    width: 130px;
    z-index: 10;
    color: black;
    background-color:rgba(255, 255, 255);
    padding: 10px 1px;
    transform: translateY(10px); 
    border-radius: 10px;
    /* margin-right: 50px; */
}
.dot > div {
    display: flex;
    align-items: center;
    gap: 5px;

}
.dot-icon {
    background-color: rgba(90, 167, 123);
    border-radius: 100%;
    padding: 5px;
}
/* -----Cards------ */
.box-1 > .Top-Catagories {
    font-size: large;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}   
.cards {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
}   
.card-1,.card-2,.card-3,.card-4 {
    border: 0.25px solid grey;
    height: 170px;
    width: 200px;
    
}
.card-1>img {
    height: 70px;
    width: 80px;
    padding: 8px 10px;
    margin-top: 30px;
    margin-left: 60px;
}
.card-1>p {
    margin-left: 60px;
}
.card-2>img {
    height: 70px;
    width: 80px;
    padding: 8px 10px;
    margin-top: 30px;
    margin-left: 60px;
}
.card-2>p {
    margin-left: 60px;
}
.card-3 {
   border: 2px solid black; 
}
.card-3>img {
    height: 70px;
    width: 80px;
    padding: 8px 10px;
    margin-top: 30px;
    margin-left: 50px;
    
}
.card-3>p {
    margin-left: 60px;
}
.card-4>img {
    height: 70px;
    width: 80px;
    padding: 8px 10px;
    margin-top: 30px;
    margin-left: 50px;
}
.card-4>p {
    margin-left: 60px;
}
/*                 -----Box-2 section-------             */
.box-2 {
    
    min-height:300px;
    padding: 20px;
    display: flex;
    
}
.left {
    width: 50%;
}
.left>img {
    width: 400px;
    height: 400px;
}
.showcase {
    color: rgba(244, 163, 139);
    font-size: small;
    height: 30px;
}
.text {
     font-size: 30px;
     height: 80px;
     width: 300px;
}
.right {
    width: 50%;
    padding: 17px;

}
.points {
   display: flex;
   flex-direction: column;
   align-items: start;
    gap: 15px;
    
    margin-top: 15px;
    
}
.read-more {
    background-color: rgb(197, 94, 10);
    color: white;
    margin-top: 30px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    padding: 5px 30px;
    
}
/* **************** Box-3 ******************* */
.box-3 {
    height: 300px;
    width: 900px;
    /* background-color:blueviolet;  */
    padding: 10px;
    display: flex;
}
.feature-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    order:2;
}
.feature-right > img {
    width: 100vh;
    background-color: #62987f;
    padding: 10px 20px;
    

}
.box-3 > .feature-left {
    width: 50%;
    order: 1;
}
.feature-left>h1 {
    color: black;
    padding: 0px;
    margin-top: 10px;
    
}
.feature {
    color: #d28270;
}
.para {
    margin-top: 20px;
}
.card,.card1,.card2 {
    margin-top: 10px;
}
.card {
    background-color: aliceblue;
    height: 30px;
    width: 250px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.card1 {
     background-color: aliceblue;
    height: 30px;
    width: 250px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.card2 {
     background-color: aliceblue;
    height: 30px;
    width: 250px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
